<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> blocks/block.hbs text="HELLO HBS"}}
    {{> blocks/block.hbs text="HELLO WORLD"}}
    <img src="img/1.png" alt="">
</body>
</html>