<div class="user" id={{login}}>
    <img src={{foto}} class="userFoto" id="userFoto">
    <div class="userName" id="userName">{{name}}</div>
    <div class="userText" id="userLogin">{{login}}</div>
</div>