<div class="user" id={{login}}>
    <table><tr>
        <td><img src={{foto}} class="userFoto" id="userFoto"></td>
        <td>
            <div class="userName" id="userName">{{name}}</div>
            <div class="userText" id="userLogin">{{login}}</div>
        </td>
    </tr></table>
</div>